/* Header for tweeter */

.main-header {
  height: 400px;
  width: 100%;
  margin-top: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(232, 166, 25);
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  color: white;
}

/* For Desktop screen size */

@media only screen and (min-width: 1024px) {
  .main-header {
    transform: scale(0.75);
    width: 45%;
    float: left;
    height: 400px;
  }
  
  img {
    transform: scale(0.90);
  }
}

/* For Tablet screen size */

@media only screen and (max-width: 1023px) {
  .main-header {
    margin-top: 0;
    padding-top: 120px;
    height: 520px;
  }
}