/* Header for tweeter */

.main-header {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(232, 166, 25);
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  color: white;
}

img {
  margin-top: 50px;
  transform: scale(0.90);
}

.user-name {
  margin-bottom: 25px;
}

/* For Desktop screen size */

@media only screen and (min-width: 1024px) {
  .main-header {
    transform: scale(0.75);
    width: 45%;
    float: left;
    height: 400px;
    margin-top: 170px;
  }
}