.main-header {
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(232, 166, 25);
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}