main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  /* width: 75%; */
}

.new-tweet {
  margin-top: 70px;
}

label {
  font-weight: 600;
}

.tweet-button {
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', sans-serif;
  border: none;
}

.tweet-text {
  background-color: transparent;
  border: none;
  width: 100%;
  border-bottom: solid 4px grey;
  resize: none;
} 

.submit-output {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

.negative {
  color: red;
  font-family: 'Bungee', sans-serif;
}

article {
  border: solid 4px grey;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 25px;
}

article:hover {
  box-shadow: 8px 8px 7px 1px #a5b0d7;
}

.tag {
  color: rgb(197, 195, 195);
  font-weight: 600;
}

.fa-solid {
  color: #4056A1;
}



.fa-solid:hover {
  color: rgb(217, 161, 20);
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}

.user-name {
  margin-left: 15px;
}

p {
  font-weight: 600;
}

/* Error message */

.error-message {
  border: solid 4px red;
  color: red;
  font-family: 'Source Sans 3', sans-serif;
  padding: 20px;
}

#error-icon {
  color: red;
}